version: "3.9"

services:
  database:
    image: mongo:latest
    container_name: mongo
    restart: always
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - mongo-data:/data/db
    networks:
      - my_network

  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    container_name: express
    restart: always
    networks:
      - my_network

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    container_name: angular
    restart: always
    networks:
      - my_network

  proxy:
    image: nginx:stable-alpine
    container_name: nginx
    restart: always
    environment:
      - NGINX_ENVSUBST_TEMPLATE_SUFFIX=.conf
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx
    ports:
      - "80:80"
    volumes:
      - .loadbalancer/nginx.conf:/etc/nginx/templates/nginx.conf.conf
    networks:
      - my_network

networks:
  my_network:

volumes:
  mongo-data: