* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  background-color: #24252a;
  border-radius: 2rem;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  box-shadow: 0px 5px 15px -2.5px #000000cc;
}

.navbar h1,
.navbar span {
  color: #edf0f1;
  padding: 10px; /* Reducido el padding para que sea más compacto */
}


.overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 95px;
  left: 10px;
  box-shadow: 0px 5px 15px -2.5px #000000cc;
  padding: 10px 20px;
  background-color: #24252a;
  border-radius: 1rem;
  overflow: hidden;
  transition: width 0.5s ease, height 0.5s ease;
  z-index: 1;
}

.overlay.active {
  width: auto;
  height: 100%;
}

.overlay a {
  color: #edf0f1;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.overlay a:hover {
  color: #0088a9;
}

.overlay a:active {
  transform: scale(0.95);
}

.menu-icon {
  background: none;
  border: none;
  color: #edf0f1;
  cursor: pointer;
  padding: 10px;
  outline: none;
}

/* Estilo adicional para el icono de menú */
.menu-icon i {
  font-size: 1.5rem;
  color: #edf0f1;
}

.menu-icon:hover {
  opacity: 0.8;
}

.menu-icon:active {
  transform: scale(0.95);
}

.news-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.main-news,
.secondary-news {
  width: 50%; /* Comparte el espacio en dos columnas */
}

.news-card {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.gg-menu {
  transform: scale(var(--ggs,1))
 }
 
.gg-menu,
.gg-menu::after,
.gg-menu::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor
}

.gg-menu::after,
.gg-menu::before {
  content: "";
  position: absolute;
  top: -6px
}

.gg-menu::after {
  top: 6px
} 
