* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  background-color: #24252a;
  border-radius: 2rem;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  box-shadow: 0px 5px 15px -2.5px #000000cc;
}

.navbar h1,
.navbar span {
  color: #edf0f1;
  padding: 10px;
}

.overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 95px;
  left: 10px;
  box-shadow: 0px 5px 15px -2.5px #000000cc;
  padding: 10px 20px;
  background-color: #24252a;
  border-radius: 1rem;
  overflow: hidden;
  transition: width 0.5s ease, height 0.5s ease;
  z-index: 1;
}

.overlay.active {
  width: auto;
  height: 100%;
}

.overlay a {
  color: #edf0f1;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.overlay a:hover {
  color: #0088a9;
}

.overlay a:active {
  transform: scale(0.95);
}

.menu-icon {
  background: none;
  border: none;
  color: #edf0f1;
  cursor: pointer;
  padding: 10px;
  outline: none;
}

.menu-icon i {
  font-size: 1.5rem;
}

.menu-icon:hover {
  opacity: 0.8;
}

.menu-icon:active {
  transform: scale(0.95);
}

.gg-menu,
.gg-menu::after,
.gg-menu::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}

.gg-menu::after,
.gg-menu::before {
  content: "";
  position: absolute;
  top: -6px;
}

.gg-menu::after {
  top: 6px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px; /* Ajusta la distancia entre la barra de navegación y las noticias */
}

.news {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.5s ease; /* Agrega transición de opacidad */
  opacity: 1; /* Inicialmente establece la opacidad en 1 */
}

.news img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 8px; /* Añade bordes redondeados a las imágenes */
}

.news:hover {
  background-color: #f0f0f0;
  opacity: 0.9; /* Reduce la opacidad al pasar el mouse */
}

.news-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.news-description {
  display: none;
}

.show-description .news-description {
  display: block;
}
