  <div class="main-container">
    <div class="navbar">
      <div class="navbar-left">
        <button class="menu-icon" (click)="toggleOverlay()">
          <i class="gg-menu"></i>
        </button>
      </div>
    
      <div class="navbar-center">
        <h1>{{ study }}</h1>
      </div>
    
      <div class="navbar-right">
        <span>Hola, {{ name }}!</span>
      </div>
    </div>
    
    @if ( overlayActive ) {
      <div class="overlay">
          <div class="overlay_content"></div>
          <a (click)="changeDetails()">Cambiar datos</a>
          <a (click)="deleteAccount()">Borrar cuenta</a>
          <a (click)="logOut()">Cerrar sesión</a>
      </div>
    }
  

    <div class="container" (wheel)="handleScroll($event)">
      <div class="news-container">
        <div class="scroll-buttons">
          <button class="scroll-button" (click)="scrollNews('backward')"><i class="gg-chevron-up"></i></button>
          <button class="scroll-button" (click)="scrollNews('forward')"><i class="gg-chevron-down"></i></button>
        </div>
        @if (currentIndex !== -1) {
          <div class="news" (click)="toggleDescription()">
            @if (noticias[currentNewsIndex].urlToImage) {
              <img [src]="noticias[currentNewsIndex].urlToImage" />
            } @else {
              <img src="https://via.placeholder.com/1024x1024" />
            }
            <div class="news-title">{{ noticias[currentNewsIndex].title }}</div>
          </div>
        }
      </div>
    </div>
    
    
</div>
  

